body {
  background: #f3f3f3;
  font-family: "Montserrat", sans-serif;
}
.container {
  margin: 0 auto;
  padding: 20px 15px;
}
.form-title {
  color: #2f4feb;
  font-size: 30px;
  font-weight: bold;
  margin: 50px;
}
.group {
  margin: 15px;
}
.form-input {
  width: 537px;
  height: 60px;
  border: 1px solid #2f4feb;
  font-size: 20px;
  color: #707070;
  padding-left: 20px;
  opacity: 0.5;
}
.form-input placeholder::after {
  content: "*";
}
.form-button {
  text-transform: uppercase;
  background-color: #2f4feb;
  border: none;
  border-radius: 50px;
  font-size: 26px;
  color: #ffffff;
  width: 405px;
  height: 84px;
  margin-top: 30px;
  cursor: pointer;
}

.btn-x {
  width: 30px;
  height: 30px;
  position: relative;
  top: -13px;
  left: 93%;
}
.close {
  background-color: transparent;
}
.close:before,
.close:after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #2f4feb;
  position: absolute;
  margin-left: -11px;
  margin-top: -1px;
}
.close::before {
  content: "";
  background-color: #2f4feb;
  transform: rotate(45deg);
  margin-top: 0;
}
.close::after {
  content: "";
  margin-top: 4px;
  background-color: #2f4feb;
  transform: rotate(-45deg);
  margin-top: 0;
}
.window {
  background: #ffffff;
  width: 643px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #2f4feb;
  border-radius: 25px;
  z-index: 9999;
  display: none;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.gray {
  background-color: rgba(1, 1, 1, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 888;
}
